header {
    background-image: url(https://static01.nyt.com/images/2023/03/29/multimedia/23HAMREX2-pineapple-ham-pizza-qwct/HAMREX2-pineapple-ham-pizza-qwct-threeByTwoMediumAt2X.jpg);
    background-position: center center;
    background-size: cover;
}


#hero-text {
 color:darkred !important;
 font-size: 72px;
 text-shadow: 2px 2px 5px black;
}

header p{
    color: yellow;
    font-size: 24px;
    font-weight: 900 !important;
    text-shadow: 1px 1px 2px black
}

header .btn {
    background-color: black;
    border-color: steelblue;
    color: bisque;
}

header .btn:hover {
    background-color: aquamarine;
    border-color: blueviolet;
    color: darksalmon;
}